.titleRow,
.flowRate,
.titleTota {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;

    @media (min-width: 415px) and (max-width: 720px) {
        font-size: 2rem;
        line-height: 2rem;
    }

    @media (min-width: 1000px) and (max-width: 1080px) {
        font-size: 3rem;
        line-height: 3rem;
    }
}

.sangria {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-left: 0.5rem;

    @media (min-width: 415px) and (max-width: 720px) {
        font-size: 2rem;
        line-height: 2rem;
    }

    @media (min-width: 1000px) and (max-width: 1080px) {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
}

.instructions {
    color: #FFF;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1rem;
    margin-top: 0.6rem;

    @media (min-width: 415px) and (max-width: 720px) {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    @media (min-width: 1000px) and (max-width: 1080px) {
        font-size: 1.7rem;
        line-height: 2rem;
    }
}

.flowRate,
.total {
    margin-top: 1rem;
}

.total {
    margin-bottom: 1rem;
}

.flow,
.totalValue {
    margin-left: 0.4rem;
    color: #201C1C;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;

    @media (min-width: 415px) and (max-width: 720px) {
        font-size: 2.8rem;
        line-height: 2.8rem;
    }

    @media (min-width: 1000px) and (max-width: 1080px) {
        font-size: 4rem;
        line-height: 4rem;
    }
}

.highFlow {
    color: #201C1C;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
    margin-left: 1rem;

    @media (min-width: 415px) and (max-width: 720px) {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    @media (min-width: 1000px) and (max-width: 1080px) {
        font-size: 2rem;
        line-height: 2rem;
    }
}

.rightFlow {
    color: #FFF;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.75rem;

    @media (min-width: 415px) and (max-width: 720px) {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    @media (min-width: 1000px) and (max-width: 1080px) {
        font-size: 2rem;
        line-height: 3rem;
    }
}

.alertHighFlow {
    margin-left: 0.3rem;
}

.tapId,
.serverIp,
.tapIp {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;

    @media (max-width: 414px) {
        display: block;
    }

    @media (min-width: 415px) and (max-width: 720px) {
        display: block;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    @media (min-width: 1000px) and (max-width: 1080px) {
        display: block;
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

.tapId {
    display: block;
    margin-bottom: 0.5rem;
}

.tapIp {
    margin-left: 7%;

    @media (max-width: 414px) {
        margin-left: 0;
        margin-top: 0.5rem;
    }

    @media (min-width: 415px) and (max-width: 720px) {
        margin-left: 0;
        margin-top: 0.5rem;
    }

    @media (min-width: 1000px) and (max-width: 1080px) {
        margin-left: 0;
        margin-top: 0.5rem;
    }
}