.priceContainer {
  display: flex;
}


.mlAndCurrency {
  display: flex;
  flex-direction: column;
}

.ml,
.ml2or1 {
  color: #fff;
  font-weight: 700;
  white-space: nowrap;
}

.promotionValue {
  text-decoration: line-through;
  font-size: 14px;
}

// .etiqueta {
//   right: -1.8rem;
//   top: -0.8rem;
//   width: 3rem;
//   height: 3.5rem;
//   position: absolute;
//   background-color: red;
//   clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
// }

// .conteudo {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   color: white;
//   font-size: 16px;
//   font-weight: bold;
// }


.etiqueta {
  right: -1.8rem;
  top: -0.2rem;
  width: 46px;
  height: 45px;
  position: absolute;
  background-color: red;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
  display: flex;
  flex-direction: column; /* Mudança para empilhar os elementos verticalmente */
  justify-content: flex-start; /* Alinhamento no topo */
  align-items: center; /* Alinhamento no centro horizontal */
}

.conteudo {

  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 0px;
}

.valor {
  display: block;
  text-decoration: line-through;
  text-decoration-thickness: 1px;

  font-size: 12px;
  margin-top: 9px;
}

.porcentagem {
  font-size: 20px;
  margin-top: 17px;
}


.ml {
  @media (min-width: 721px) and (max-width: 1366px) {
    font-size: 1rem;
    line-height: 1rem;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    font-size: 1.5rem;
    line-height: 1.5rem;
    white-space: nowrap;
  }

  @media (min-width: 1921px) {
    font-size: 2rem;
    line-height: 2rem;
    white-space: nowrap;
  }
}

.ml2or1 {
  @media (max-width: 414px) {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }

  @media (min-width: 415px) and (max-width: 720px) {
    font-size: 2rem;
    line-height: 2rem;
  }

  @media (min-width: 721px) and (max-width: 1366px) {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  @media (min-width: 1000px) and (max-width: 1080px) {
    font-size: 3rem;
    line-height: 3rem;
  }

  @media (min-width: 1921px) {
    font-size: 2rem;
    line-height: 2rem;
    white-space: nowrap;
  }
}

.currency,
.currency2or1 {
  color: #fcb813;
  font-weight: 700;
}

.currency {
  @media (min-width: 721px) and (max-width: 1366px) {
    font-size: 3.25rem;
    line-height: 3.25rem;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    font-size: 4rem;
    line-height: 4rem;
  }

  @media (min-width: 1921px) {
    font-size: 4rem;
    line-height: 4rem;
  }
}

.currency2or1 {
  @media (max-width: 414px) {
    font-size: 3rem;
    line-height: 3rem;
  }

  @media (min-width: 415px) and (max-width: 720px) {
    font-size: 4rem;
    line-height: 4rem;
  }

  @media (min-width: 721px) and (max-width: 1366px) {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    font-size: 5rem;
    line-height: 5rem;
  }

  @media (min-width: 1000px) and (max-width: 1080px) {
    font-size: 9rem;
    line-height: 9rem;
  }

  @media (min-width: 1921px) {
    font-size: 4rem;
    line-height: 4rem;
  }
}

.value,
.value2or1 {
  color: #fff;
  font-weight: 700;
  margin-left: 0.8rem;
}

.value {
  @media (min-width: 721px) and (max-width: 1366px) {
    font-size: 5rem;
    line-height: 4.5rem;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }

  @media (min-width: 1921px) {
    font-size: 6.5rem;
    line-height: 6.5rem;
  }

  .promotion {
  rotate: 25deg;

    @media (min-width: 721px) and (max-width: 1366px) {
      padding: 0.3rem !important;
      font-size: 1rem !important;
      line-height: 1rem !important;
      margin-top: -0.8rem !important;
    }

    @media (min-width: 1367px) and (max-width: 1920px) {
      margin-top: -1.3rem;
      padding: 0.3rem;
      font-size: 1.2rem;
      line-height: 1.2rem;
    }

    @media (min-width: 1921px) {
      margin-top: -1.3rem;
      padding: 0.5rem;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
}

.value2or1 {
  @media (max-width: 414px) {
    font-size: 4.5rem;
    line-height: 5rem;
    margin-top: -0.5rem;
    margin-left: 0.5rem;
  }

  @media (min-width: 415px) and (max-width: 720px) {
    font-size: 7rem;
    line-height: 6.5rem;
  }

  @media (min-width: 721px) and (max-width: 1366px) {
    font-size: 7rem;
    line-height: 6rem;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    font-size: 8rem;
    line-height: 7rem;
  }

  @media (min-width: 1000px) and (max-width: 1080px) {
    font-size: 12rem;
    line-height: 12rem;
    margin-left: 1rem;
  }

  @media (min-width: 1921px) {
    font-size: 7rem;
    line-height: 6.5rem;
  }

  .promotion {
    @media (min-width: 721px) and (max-width: 1366px) {
      margin-top: -1.2rem;
      padding: 0.3rem;
      font-size: 1.2rem;
      line-height: 1.2rem;
    }

    @media (min-width: 1367px) and (max-width: 1920px) {
      margin-top: -1.6rem;
      padding: 0.3rem;
      font-size: 1.8rem;
      line-height: 1.8rem;
    }

    @media (min-width: 1921px) {
      margin-top: -1.5rem;
      padding: 0.5rem;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }
}

.promotion {
  border-radius: 0.5rem;
  background: rgba(219, 61, 55, 0.75);
  display: inline-block;
  position: absolute;

  @media (max-width: 414px) {
    margin-top: -0.5rem;
    padding: 0.3rem;
    font-size: 1rem;
    line-height: 1rem;
  }

  @media (min-width: 415px) and (max-width: 720px) {
    margin-top: -1.2rem;
    padding: 0.3rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  @media (min-width: 1000px) and (max-width: 1080px) {
    margin-top: -1.2rem !important;
    padding: 0.5rem !important;
    font-size: 2.3rem !important;
    line-height: 2.3rem !important;
  }
}