.timerContainer {
    padding: 0.7rem;
    border-radius: 0.5rem;
    display: inline-block;
    position: absolute;
    margin-top: -2rem;
    right: 1rem;

    @media (min-width: 1921px) {
        margin-top: -3rem;
    }
}

.timer {
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.75rem;
    letter-spacing: 0.0875rem;
}