.defaultTapContainer,
.defaultTapContainer2or1 {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.defaultTapContainer {
  @media (min-width: 721px) and (max-width: 1366px) {
    width: 25rem;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    width: 37rem;
  }

  @media (min-width: 1921px) {
    width: 40rem;
  }
}

.defaultTapContainer2or1 {
  @media (max-width: 414px) {
    width: 100vw;
    height: 100vh;
  }

  @media (min-width: 415px) and (max-width: 720px) {
    width: 100vw;
    height: 100vh;
  }

  @media (min-width: 721px) and (max-width: 1366px) {
    width: 37rem;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    width: 57rem;
  }

  @media (min-width: 1000px) and (max-width: 1080px) {
    width: 100vw;
    height: 100vh;
  }

  @media (min-width: 1921px) {
    width: 60rem;
  }
}

.numberAndTitleOrStyle {
  display: flex;
}

.rowImage {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  height: 100%;
  align-items: end;
  max-width: 100vw;
}

.image {
  height: 100%;
}

.logo {
  width: 7.5rem;
  height: 7.5rem;
  margin-bottom: 1rem;

  @media (max-width: 414px) {
    width: 5rem;
    height: 5rem;
  }

  @media (min-width: 415px) and (max-width: 720px) {
    width: 10rem;
    height: 10rem;
  }

  @media (min-width: 1000px) and (max-width: 1080px) {
    width: 15rem;
    height: 15rem;
  }
}

.ibuAndAbv,
.ibuAndAbv2or1 {
  display: flex;
}

.ibuAndAbv {
  @media (min-width: 1367px) and (max-width: 1920px) {
    flex-direction: column;
    margin-left: 2rem;
  }

  @media (min-width: 1921px) {
    flex-direction: column;
    margin-left: 2rem;
    margin-right: -1rem;
  }
}

.ibuAndAbv2or1 {
  flex-direction: column;

  @media (max-width: 414px) {
    margin-left: 1rem;
  }

  @media (min-width: 721px) and (max-width: 1366px) {
    margin-left: 1.3rem;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    margin-left: 3rem;
    margin-right: 14rem;
  }

  @media (min-width: 1921px) {
    margin-left: 4rem;
    margin-right: 17rem;
  }
}

.firstElement,
.firstElement2or1 {
  margin-right: 0.75rem;
}

.firstElement {
  @media (min-width: 1367px) and (max-width: 1920px) {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  @media (min-width: 1921px) {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
}

.firstElement2or1 {
  @media (max-width: 414px) {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  @media (min-width: 415px) and (max-width: 720px) {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  @media (min-width: 721px) and (max-width: 1366px) {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  @media (min-width: 1000px) and (max-width: 1080px) {
    margin-bottom: 2rem;
  }

  @media (min-width: 1921px) {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
}

.price {
  margin-top: 1rem;
}

.nameStyleModeTop {
  margin-top: 0.75rem;
  margin-left: 0.5rem;
}

.infosAndQrCode {
  display: flex;
  margin-top: 0.75rem;

  @media (max-width: 414px) {
    margin-top: -1rem;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  @media (min-width: 415px) and (max-width: 720px) {
    justify-content: space-between;
    width: 95vw;
    margin-bottom: 1rem;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    align-items: center;
  }

  @media (min-width: 1000px) and (max-width: 1080px) {
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    margin: 4rem 0 2rem 0;
  }
}

.qrCode {
  margin-left: 2.75rem;

  @media (min-width: 415px) and (max-width: 720px) {
    margin-left: 0;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    margin-left: 1.8rem;
  }
}

.firstRow {
  margin-bottom: 1rem;
}

.thirdRow {
  margin: 1rem 0 0.25rem 0;
}

.modalClient,
.modalSangria,
.modalStaff {
  position: fixed;
  bottom: -150vh;
  padding: 0.5rem;
  transition: bottom 0.3s ease-out;
  z-index: 10;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 414px) {
    display: block;
  }

  @media (min-width: 415px) and (max-width: 720px) {
    display: block;
  }

  @media (min-width: 721px) and (max-width: 1366px) {
    width: 24rem;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    width: 36rem;
  }

  @media (min-width: 1000px) and (max-width: 1080px) {
    display: block;
  }
}

.modalClient2or1 {
  @media (max-width: 414px) {
    width: calc(100vw - 1rem);
    margin-left: -1rem;
  }

  @media (min-width: 721px) and (max-width: 1366px) {
    height: 12rem;
    width: 36rem;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    height: 12rem;
    width: 56rem;
  }

  @media (min-width: 1921px) {
    width: 60rem !important;
  }
}

.modalClient.show,
.modalSangria.show,
.modalStaff.show {
  bottom: 0;
}

.modalSangria,
.modalStaff {
  height: 15rem;

  @media (max-width: 414px) {
    height: 17rem;
  }

  @media (min-width: 415px) and (max-width: 720px) {
    height: 23.5rem;
  }

  @media (min-width: 1000px) and (max-width: 1080px) {
    height: 31rem;
  }
}

.modalStaff {
  @media (min-width: 415px) and (max-width: 720px) {
    height: 20rem;
  }

  @media (min-width: 1000px) and (max-width: 1080px) {
    height: 28rem;
  }
}

.modalSangria2or1,
.modalStaff2or1 {
  @media (min-width: 721px) and (max-width: 1366px) {
    width: 36rem;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    width: 56rem;
  }

  @media (min-width: 1921px) {
    width: 60rem !important;
  }
}

.modalClient {
  background: #FCB813;

  @media (max-width: 414px) {
    padding: 1rem 0 1rem 0 1rem;
  }

  @media (min-width: 415px) and (max-width: 720px) {
    width: calc(100vw - 1rem);
    margin-left: -1rem;
  }

  @media (min-width: 721px) and (max-width: 1366px) {
    height: 9rem;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    height: 12rem;
  }

  @media (min-width: 1000px) and (max-width: 1080px) {
    width: calc(100vw - 1rem);
    margin-left: -1rem;
    height: 20rem;
  }

  @media (min-width: 1921px) {
    width: 39rem;
  }
}

.modalSangria {
  background: #B21E19;

  @media (max-width: 414px) {
    width: calc(100vw - 1rem);
    margin-left: -1rem;
  }

  @media (min-width: 415px) and (max-width: 720px) {
    width: calc(100vw - 1rem);
    margin-left: -1rem;
  }

  @media (min-width: 1000px) and (max-width: 1080px) {
    width: calc(100vw - 1rem);
    margin-left: -1rem;
  }

  @media (min-width: 1921px) {
    width: 39rem;
  }
}

.modalStaff {
  background: #6DA34D;

  @media (max-width: 414px) {
    width: calc(100vw - 1rem);
    margin-left: -1rem;
  }

  @media (min-width: 415px) and (max-width: 720px) {
    width: calc(100vw - 1rem);
    margin-left: -1rem;
  }

  @media (min-width: 1000px) and (max-width: 1080px) {
    width: calc(100vw - 1rem);
    margin-left: -1rem;
  }

  @media (min-width: 1921px) {
    width: 39rem;
  }
}