.nameOrStyleContainer {
  color: #fff;

  @media (max-width: 414px) {
    height: 4rem;
    padding-right: 1rem;
  }

  @media (min-width: 721px) and (max-width: 1366px) {
    height: 5.25rem;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    height: 7rem;
  }
}

.title {
  font-weight: 700;
  display: block;

  @media (min-width: 415px) and (max-width: 720px) {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 0.25rem;
  }

  @media (min-width: 721px) and (max-width: 1366px) {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 0.25rem;
  }

  @media (min-width: 1367px) and (max-width: 1920px) {
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin-bottom: 0.2rem;
  }

  @media (min-width: 1000px) and (max-width: 1080px) {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 0.4rem;
  }
}

.content,
.contentBlue {
  font-style: normal;
  font-weight: 700;
}

.contentBlue {
  color: #009DFF;
}