.cleaningContainer,
.cleaningContainer2or1 {
    display: grid;
}

.cleaningContainer {
    @media (max-width: 1280px) {
        width: 25rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        width: 37rem;
    }
}

.cleaningContainer2or1 {
    @media (max-width: 1280px) {
        width: 37rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        width: 57rem;
    }
}

.title {
    display: flex;
}

.nameStyleModeTop {
    margin-top: 0.75rem;
    margin-left: 0.5rem;
}

.employeeRow {
    margin-top: 2rem;
}

.employeeLabel,
.employeeLabel2or1 {
    color: #FFF;
    font-weight: 400;
}

.employeeLabel {
    @media (max-width: 1280px) {
        font-size: 1rem;
        line-height: 1rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        font-size: 2rem;
        line-height: 2rem;
    }
}

.employeeLabel2or1 {
    @media (max-width: 1280px) {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        font-size: 2rem;
        line-height: 2rem;
    }
}

.employee,
.employee2or1 {
    color: #FCB813;
    font-weight: 600;
    margin-left: 0.4rem;
}

.employee {
    @media (max-width: 1280px) {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        font-size: 3rem;
        line-height: 3rem;
    }
}

.employee2or1 {
    @media (max-width: 1280px) {
        font-size: 2rem;
        line-height: 2rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        font-size: 3rem;
        line-height: 3rem;
    }
}

.instructions {
    color: #FFF;
    font-weight: 400;
    margin-top: 1rem;

    @media (max-width: 1280px) {
        font-size: 0.875rem;
        line-height: 1.125rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        font-size: 1.25rem;
        line-height: 2rem;
    }
}

.flowContainer {
    margin-top: 2.5rem;
}

.flowTitle {
    color: #FCB813;
    font-weight: 600;

    @media (max-width: 1280px) {
        font-size: 2rem;
        line-height: 2rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        font-size: 3rem;
        line-height: 3rem;
    }
}

.flowRateRow {
    @media (max-width: 1280px) {
        margin-top: 0.75rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        margin-top: 1rem;
    }
}

.flowRate,
.totalTitle {
    color: #FFF;
    font-weight: 400;

    @media (max-width: 1280px) {
        font-size: 1rem;
        line-height: 1rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        font-size: 2rem;
        line-height: 2rem;
    }
}

.flowValue {
    color: #FCB813;
    font-weight: 600;
    margin-left: 0.4rem;

    @media (max-width: 1280px) {
        font-size: 2rem;
        line-height: 2rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        font-size: 3rem;
        line-height: 3rem;
    }
}

.flowInstructionRow {
    display: flex;
    align-items: center;

    @media (max-width: 1280px) {
        margin-top: 0.25rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
    }
}

.flowInstruction {
    color: #FFF;
    font-weight: 400;
    margin-left: 0.4rem;

    @media (max-width: 1280px) {
        font-size: 0.75rem;
        line-height: 0.75rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
}

.totalRow {
    margin-top: 1rem;
}

.total {
    color: #FCB813;
    font-weight: 600;
    margin-left: 0.4rem;

    @media (max-width: 1280px) {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        font-size: 2.25rem;
        line-height: 2.25rem;
    }
}

.infoContainer {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.labelAndValue,
.labelAndValue2or1 {
    display: flex;
    flex-direction: column;
}

.labelAndValue {
    @media (max-width: 1280px) {
        margin-bottom: 1rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        margin-bottom: 2rem;
    }
}

.labelAndValue2or1 {
    @media (max-width: 1280px) {
        margin-bottom: 1.5rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        margin-bottom: 2rem;
    }
}

.label,
.label2or1 {
    color: #FFF;
    font-weight: 400;
}

.label {
    @media (max-width: 1280px) {
        font-size: 0.75rem;
        line-height: 0.75rem;
        margin-bottom: 0.3rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        font-size: 1.25rem;
        line-height: 1.25rem;
        margin-bottom: 0.4rem;
    }
}

.label2or1 {
    @media (max-width: 1280px) {
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 0.3rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        font-size: 1.25rem;
        line-height: 1.25rem;
        margin-bottom: 0.4rem;
    }
}

.value,
.value2or1 {
    color: #FCB813;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.value {
    @media (max-width: 1280px) {
        font-size: 1rem;
        line-height: 1rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

.value2or1 {
    @media (max-width: 1280px) {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

.status {
    border-radius: 50%;
    margin-left: 0.4rem;

    @media (max-width: 1280px) {
        width: 0.75rem;
        height: 0.75rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        width: 1rem;
        height: 1rem;
    }
}

.operationalInstruction,
.operationalInstruction2or1 {
    text-align: center;
    color: #FFF;
    font-weight: 600;
}

.operationalInstruction {
    @media (max-width: 1280px) {
        font-size: 0.875rem;
        line-height: 1.125rem;
        padding: 0 2rem;
        margin-top: 3rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 0 1rem;
        margin-top: 1rem;
    }
}

.operationalInstruction2or1 {
    @media (max-width: 1280px) {
        font-size: 1rem;
        line-height: 1.3rem;
        padding: 0 4rem;
        margin-top: 1.5rem;
    }

    @media (min-width: 1281px) and (max-width: 1920px) {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 0 4rem;
        margin-top: 2rem;
    }
}