.titleRow {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
}

.staff {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-left: 0.5rem;
}

.instructions {
    color: #FFF;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.2rem;
    margin-top: 0.6rem;
}

.employeeRow,
.flowRow,
.totalRow {
    margin-top: 0.7rem;
}

.employeeTtile,
.flowRate,
.titleTota {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
}

.employee,
.flow,
.totalValue {
    color: #201C1C;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 2rem;
    margin-left: 0.4rem;
}

.rightFlow {
    color: #FFF;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.75rem;
}