.tapNumberContainer {
  border-radius: 0rem 0rem 1rem 1rem;
  background: #fcb813;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;

  @media (max-width: 414px) {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem 0.3rem 0.2rem 0.3rem;
  }

  @media (min-width: 415px) and (max-width: 720px) {
    width: 4rem;
    height: 4rem;
    padding: 1rem 0.5rem;
  }

  @media (min-width: 721px) and (max-width: 1280px) {
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.75rem 0.5rem;
  }

  @media (min-width: 1281px) and (max-width: 1920px) {
    width: 6rem;
    height: 6rem;
    padding: 0.75rem 0.5rem;
  }

  @media (min-width: 1000px) and (max-width: 1080px) {
    width: 8rem;
    height: 8rem;
    padding: 1rem 0.5rem;
  }
}

.logo {
  width: 100%;
}

.number {
  color: #201c1c;
  font-weight: 900;
  text-align: center;
  margin-top: 0.25rem;

  @media (max-width: 414px) {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  @media (min-width: 415px) and (max-width: 720px) {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 0.6rem;
  }
  
  @media (min-width: 721px) and (max-width: 1280px) {
    font-size: 3rem;
    line-height: 3rem;
  }
  
  @media (min-width: 1281px) and (max-width: 1920px) {
    font-size: 4rem;
    line-height: 4rem;
  }
  
  @media (min-width: 1000px) and (max-width: 1080px) {
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 0.8rem;
  }
}