.tapNumber {
    position: absolute;
}

.errorContainer,
.errorContainer2or1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorContainer {
    @media (min-width: 721px) and (max-width: 1366px) {
        width: 25rem;
    }

    @media (min-width: 1367px) and (max-width: 1920px) {
        width: 37rem;
    }

    @media (min-width: 1921px) {
        width: 40rem;
    }
}

.errorContainer2or1 {
    @media (max-width: 414px) {
        width: 100%;
        margin-left: -1rem;
    }

    @media (min-width: 415px) and (max-width: 720px) {
        width: 100%;
        margin-left: -1rem;
    }

    @media (min-width: 721px) and (max-width: 1366px) {
        width: 37rem;
    }

    @media (min-width: 1367px) and (max-width: 1920px) {
        width: 57rem;
    }

    @media (min-width: 1000px) and (max-width: 1080px) {
        width: 100%;
        margin-left: -1rem;
    }

    @media (min-width: 1921px) {
        width: 60rem;
    }
}

.errorComponent {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.errorTtile,
.errorTtile2or1 {
    color: #FFF;
    text-align: center;
    font-weight: 400;
}

.errorTtile {

    @media (min-width: 721px) and (max-width: 1366px) {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }

    @media (min-width: 1367px) and (max-width: 1920px) {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}

.errorTtile2or1 {
    @media (min-width: 415px) and (max-width: 720px) {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    @media (min-width: 721px) and (max-width: 1366px) {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    @media (min-width: 1367px) and (max-width: 1920px) {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }

    @media (min-width: 1000px) and (max-width: 1080px) {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

.tapId,
.tapId2or1 {
    color: #FCB813;
    text-align: center;
    font-weight: 500;
}

.tapId {
    @media (min-width: 721px) and (max-width: 1366px) {
        line-height: 1.75rem;
        font-size: 1.5rem;
    }

    @media (min-width: 1367px) and (max-width: 1920px) {
        line-height: 1.75rem;
        font-size: 1.5rem;
    }
}

.tapId2or1 {
    @media (min-width: 415px) and (max-width: 720px) {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    @media (min-width: 721px) and (max-width: 1366px) {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    @media (min-width: 1367px) and (max-width: 1920px) {
        line-height: 3rem;
        font-size: 3rem;
    }

    @media (min-width: 1000px) and (max-width: 1080px) {
        font-size: 3rem;
        line-height: 3.5rem;
    }
}

.errorImg,
.errorImg2or1 {
    margin: 3rem 0;
}

.errorImg {
    @media (min-width: 721px) and (max-width: 1366px) {
        max-height: 6rem;
    }

    @media (min-width: 1367px) and (max-width: 1920px) {
        max-height: 8rem;
    }
}

.errorImg2or1 {
    @media (max-width: 414px) {
        max-height: 8rem;
    }

    @media (min-width: 415px) and (max-width: 720px) {
        max-height: 10rem;
    }

    @media (min-width: 721px) and (max-width: 1366px) {
        max-height: 8rem;
    }

    @media (min-width: 1367px) and (max-width: 1920px) {
        max-height: 10rem;
    }

    @media (min-width: 1000px) and (max-width: 1080px) {
        max-height: 15rem;
    }
}